body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background-color: #faf9f6;
  font-family: "Segoe UI";
}
* {
  margin: 1px;
  padding: 0;
  border-radius: 5px;
}
header p {
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 20px;
  text-align: center;
  color: deepskyblue;
}
header nav {
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-weight: bold;
}
/*---------------------Pseudo classes and elements-------------*/
nav a:focus {
  color: deeppink;
}
nav a:hover {
  text-decoration: underline;
}
/*---------------------Pseudo classes and elements-------------*/
main {
  display: flex;
}

aside {
  height: 600px;
  padding: 20px;
  background-color: #333;
  color: white;
  width: 300px;
}
aside ul li {
  list-style: none;
  margin-top: 30px;
  padding: 10px;
}
aside ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
aside ul li:hover {
  text-decoration: none;
  background-color: hsl(340deg, 77%, 50%, 0.5);
  transition: 0.5s;
  cursor: pointer;
}

article {
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
}
article h1 {
    margin-top: 250px;
}
footer {
    color: white;
    width: 100%;
    height: 7rem;
    background-color:#333;
    text-align: center;
    padding: 10px 0;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer a:hover{
   background-color: hsl(340deg, 77%, 50%, 0.5);
}
.icons a {
    margin: 20px;
} 
footer p{
    margin-bottom: 20px;
}  
